1 ICON "icon.ico"
1 VERSIONINFO
FILEVERSION 0,9,0,0
PRODUCTVERSION 0,9,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040704B0"
    BEGIN
      VALUE "FileDescription", "RelayPing - Latenz zu Mullvad-WireGuard-Servern ueber GL.iNet-Router"
      VALUE "ProductName", "RelayPing"
      VALUE "FileVersion", "0.9.0-beta"
      VALUE "ProductVersion", "0.9.0-beta"
      VALUE "OriginalFilename", "RelayPing.exe"
      VALUE "LegalCopyright", "(c) 2026 Bobcation - MIT-Lizenz"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 1200
  END
END
